name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:15
        env:
          POSTGRES_DB: logs_db
          POSTGRES_USER: logs_user
          POSTGRES_PASSWORD: logs_password
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U logs_user"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install & Run tests
        run: |
          cd backend
          pip install -r requirements.txt
          pip install pytest
          pytest tests/test_api.py -v
        env:
          DB_HOST: localhost
          DB_NAME: logs_db
          DB_USER: logs_user
          DB_PASSWORD: logs_password
          DB_PORT: 5432

  build-docker:
    needs: test-backend
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t logmein-backend ./backend
  build-and-push:
    needs: test-backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t logmein-backend ./backend

      
