name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:15
        env:
          POSTGRES_DB: logs_db
          POSTGRES_USER: logs_user
          POSTGRES_PASSWORD: logs_password
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U logs_user"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install & Run tests
        run: |
          cd backend
          pip install -r requirements.txt
          pip install pytest
          pytest tests/test_api.py -v
        env:
          DB_HOST: localhost
          DB_NAME: logs_db
          DB_USER: logs_user
          DB_PASSWORD: logs_password
          DB_PORT: 5432

  build-docker:
    needs: test-backend
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t logmein-backend ./backend
  build-and-push:
    needs: test-backend
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/logmein-backend:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Kali via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo docker pull ghcr.io/${{ github.repository_owner }}/logmein-backend:latest
            sudo docker stop backend || true
            sudo docker rm backend || true
            sudo docker run -d --name backend -p 5000:5000 ghcr.io/${{ github.repository_owner }}/logmein-backend:latest
